:root {
    --font-main: 'Inter', sans-serif;
    --color-bg: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5);
}


*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-weight: 400;
    overflow-x: hidden;
}

body {
    background: var(--color-bg);
    background-repeat: no-repeat;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 64px;
    line-height: 96px;
}
h6 {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 32px;
        line-height: 48px;
    }
    h6 {
        font-size: 11px;
        line-height: 16px;
    }
    body {
        background-attachment: scroll;
    }
}

