.FAQs {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 300px 300px;
    background-color: white !important;
}

.accordion summary,
.accordion div {
    font-size: 1rem;
    line-height: 22.4px;
}

.accordion summary {
    padding-bottom: 19px;
    padding-top: 12px;
}

.accordion div {
    padding-bottom: 12px;
}

@media (max-width: 767px) {
    .FAQs {
        padding: 40px 16px 180px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .FAQs {
        padding: 2rem 2rem 15rem 2rem;
    }
}