footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 472px;
    background-color: #0578FF;
}
.logoTextWhite {
    color: white;
    font-size: 34px;
    line-height: 51px;
}
.footerLogo {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 60px;
}

.footerCopyright {
    grid-area: 5 / 1 / 6 / 2;
    margin-left: 60px;
    color: white;
    font-size: 0.7em;
}

.aboutLinks {
    grid-area: 2 / 3 / 5 / 4;

}

.communityLinks {
    grid-area: 2 / 4 / 5 / 5;
}

.socialsLinks {
    grid-area: 2 / 5 / 5 / 6;
}
.aboutLinks, .communityLinks, .socialsLinks {
    color: white;
}

.footerLinksHeader {
    font-size: 1.2em;
    padding-bottom: 15px;
}

.aboutLinks a, .communityLinks a, .socialsLinks a {
    color: white;
    text-decoration: none;
}


@media (max-width: 767px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 700px;
        padding-left: 19px;
    }
    .footerLogo {
        grid-area: 1 / 1 / 2 / 3;
        margin-left: 0;
        margin-top: 50px;
    }

    .footerCopyright {
        grid-area: 4 / 1 / 5 / 3;
        padding-top: 25px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .aboutLinks {
        grid-area: 2 / 1 / 3 / 2;

    }

    .communityLinks {
        grid-area: 2 / 2 / 3 / 3;
    }

    .socialsLinks {
        grid-area: 3 / 1 / 4 / 2;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    footer {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: 30px;
        column-gap: 120px;
        height: 546px;
        padding-left: 19px;
    }
    .footerLogo {
        grid-area: 1 / 1 / 2 / 3;
        margin-left: 0;
        margin-top: 50px;
    }

    .footerCopyright {
        grid-area: 3 / 1 / 4 / 4;
        padding-top: 25px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .aboutLinks {
        grid-area: 2 / 1 / 3 / 2;

    }

    .communityLinks {
        grid-area: 2 / 2 / 3 / 3;
    }

    .socialsLinks {
        grid-area: 2 / 3 / 3 / 4;
    }
}