header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    height: 116px;
}
.header-nav-desktop {
    display: flex;
    gap: 11rem;
}

.header-nav-desktop a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
    line-height: 27px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.logoText {
    font-size: 34px;
    line-height: 51px;
}

.burger-menu-mobile {
    display: none;
}


@media (max-width: 767px) {
    .burger-menu-mobile {
        display: block;
        justify-content: flex-end;
    }

    .header-nav-desktop {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        height: 116px;
    }
    .logo {
        justify-self: flex-start;
        width: 73px;
        height: 34px;
    }
    .logoText {
        display: none;
    }
}