header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    height: 116px;
}
.header-nav-desktop {
    display: flex;
    gap: 8rem;
}

.header-nav-desktop a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
    line-height: 27px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.logoText {
    font-size: 34px;
    line-height: 51px;
}

.burger-menu-mobile {
    display: none;
}

@media (max-width: 1199px) {
    .burger-menu-mobile {
        display: block;
        justify-content: flex-end;
    }

    .header-nav-desktop {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 116px;
    }
    .logo {
        justify-self: flex-start;
        width: 73px;
        height: 34px;
    }
}


.burger {
    height: 909px;
    background-color: #0578FF;
    position: fixed;
    top: 99px;
    width: 100%;
    transition: left 0.5s ease-in;
}
.burger__closed {
    left: -100%;
}
.burger__opened {
    left: 0;
}
.burger__container.container {
    padding: 64px 20px;
}
.burger__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.burger__list li {
    margin-bottom: 64px;
}
.burger__link {
    font-size: 32px;
    line-height: 27px;
    color: #fff;
    text-decoration: none;
}


@media (max-width: 767px) {
    header {
        padding: 1rem 1rem;
    }
    .logoText {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    header {
        padding: 2rem 2rem;
    }
}